# "mu-plugins", "plugins", "themes" directory
wp-content/uploads 

# ignore these plugins
wp-content/mu-plugins/wp-migrate-db-pro-compatibility.php
wp-content/plugins/hello.php
wp-content/plugins/akismet
wp-content/plugins/autodescription
wp-content/plugins/advanced-custom-fields-pro
wp-content/plugins/custom-typekit-fonts
wp-content/plugins/wp-all-export-pro
wp-content/plugins/wp-all-import-pro
wp-content/plugins/wp-migrate-db-pro
wp-content/plugins/wp-migrate-db-pro-theme-plugin-files
wp-content/plugins/wpai-acf-add-on

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore environment specific files 
/.htaccess
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-admin/
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-includes/
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php