.button {
  @apply relative z-10 inline-flex items-center px-6 py-3 font-bold bg-yellow-200 dark:bg-brown-400 dark:border-brown-400 text-brown-800 dark:text-plum-900 border-0 mt-12 rounded-md #{!important};

  svg {
    @apply text-brown-600 dark:text-plum-500 transition-transform ease-in-out duration-100;
  }

  &:hover {
    @apply transform translate-x-2 -translate-y-2 #{!important};

    svg {
      @apply transform translate-x-2;
    }
  }
}

.project-card {
  li {
    &:first-of-type {
      padding-left: 0 !important;

      &::before {
        content: none;
        width: 0 !important;
        height: 0 !important;
        background-color: none !important;
      }
    }
  }
}

.services {
  li {
    &::before {
      content: none !important;
      width: 0 !important;
      height: 0 !important;
      background-color: none !important;
    }
  }
}

.prose-list-none {
  li {
    padding-left: 0 !important;

    &::before {
      content: none !important;
      width: 0 !important;
      height: 0 !important;
      background-color: none !important;
    }
  }
}

.faqs-block {
  li svg {
    margin-left: -10px !important;
    margin-top: 0.65px !important;
  }
}

.testimonial-block {
  blockquote p {
    @apply m-0 #{!important};
  }
}

.callout-block {
  & > :first-child {
    @apply mt-0;
  }

  & > :last-child {
    @apply mb-0;
  }
}

@media (min-width: 768px) {
  .md-prose-list-none {
    li {
      padding-left: 0 !important;
  
      &::before {
        content: none !important;
        width: 0 !important;
        height: 0 !important;
        background-color: none !important;
      }
    }
  }
}
