/** Colors */
$brand-primary:         #272132;

@media (prefers-color-scheme: dark) {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after{
    background-color: #F9EDE4 !important;
  }
}

/** Box Model  */
$spacer:                2rem;

/* Hamburgers options */
$hamburger-padding-x: 16px;
$hamburger-padding-y: 0;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $brand-primary;
$hamburger-types: (collapse);
